<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="SubjectImpl1" class="com.service.impl.SubjectImpl"/>
    <bean id="SubjectImpl2" class="com.service.impl.SubjectImpl"/>
    <bean id="PermissionVerification" class="com.aop.PermissionVerification"/>

    <aop:config>
        <!-- 这是定义一个切面，切面是切点和通知的集合-->
        <aop:aspect id="do" ref="PermissionVerification">
            <!-- 定义切点 ，后面是expression语言，表示包括该接口中定义的所有方法都会发出通知-->
            <aop:pointcut id="point" expression="execution(* com.service.Subject.*(..))"/>
            <!-- 定义通知 -->
            <aop:before method="canLogin" pointcut-ref="point"/>
            <aop:after method="saveMessage" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>

</beans>